<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" >

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="logFilePath"  value="${basedir}/logs/${date:format=yyyy}/${date:format=MM}/${date:format=dd}.log"  />

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!--<target name="logfile" xsi:type="File" fileName="${logFilePath}" layout="${longdate}:${uppercase:${level}}${message}" keepFileOpen="true" delimiter="Tab" />-->

    <target name="logfile" xsi:type="File" fileName="${logFilePath}">
      <layout xsi:type="CSVLayout" delimiter="Tab">
        <column name="date" layout="${longdate}" />
        <column name="level" layout="${level:uppercase=true}"/>        
        <column name="Message" layout="${message}"/>
        <column name="LogLevel" layout="${level}" />
        <column name="Host" layout="${machinename}" />
        <column name="Stacktrace" layout="${exception:stacktrace}" />
        <column name="TargetSite" layout="${event-context:TargetSite}" />
        <column name="InnerException" layout="${event-context:InnerException}" />
        <column name="Source" layout="${event-context:Source}" />
        <column name="RequestedURL" layout="${event-context:RequestedURL}" />
        <column name="Method" layout="${event-context:Method}" />
        <column name="ClientIP" layout="${event-context:ClientIP}" />
        <column name="UserAgent" layout="${event-context:UserAgent}" />
        <column name="ClientIP" layout="${event-context:ClientIP}" />
      </layout>
    </target>


    <target name="database" type="Database">
      <connectionString>
        Data Source=localhost; Integrated Security=SSPI;Initial Catalog=TestDb
      </connectionString>
      <!--<commandText>
        insert into log(Message,LogLevel)
        values(@Message, @LogLevel);
      </commandText>-->
      <commandText>
        insert into log(Message,LogLevel,Host,Source,InnerException,StackTrace,TargetSite,RequestedURL,Method,ClientIP,UserAgent)
        values(@Message,@LogLevel,@Host,@Source,@InnerException,@StackTrace,@TargetSite,@RequestedURL,@Method,@ClientIP,@UserAgent);
      </commandText>
      <parameter name="@LogDate" layout="${longdate}"/>
      <parameter name="@Message" layout="${message}"/>
      <parameter name="@LogLevel" layout="${level}" />
      <parameter name="@Stacktrace" layout="${exception:stacktrace}" />
      <parameter name="@TargetSite" layout="${event-context:TargetSite}" />
      <parameter name="@InnerException" layout="${event-context:InnerException}" />
      <parameter name="@Source" layout="${event-context:Source}" />
      <parameter name="@RequestedURL" layout="${event-context:RequestedURL}" />
      <parameter name="@Method" layout="${event-context:Method}" />
      <parameter name="@ClientIP" layout="${event-context:ClientIP}" />
      <parameter name="@UserAgent" layout="${event-context:UserAgent}" />
      <parameter name="@Host" layout="${event-context:Host}" />
    </target>

    <target name="Mail" xsi:type="Mail" html="false" subject="${event-context:EmailSubject}"
     body="Error Details ${newline} ${newline}
           Error Message : ${message} ${newline} 
           Host: ${machinename} ${newline} 
           RequestedURL: ${event-context:RequestedURL} ${newline} 
           Method: ${event-context:Method}${newline}            
           Source: ${event-context:Source} ${newline} 
           Stacktrace: {exception:stacktrace} ${newline} 
           TargetSite: ${event-context:TargetSite} ${newline} 
           InnerException: ${event-context:InnerException} ${newline} 
           ClientIP: ${event-context:ClientIP} ${newline} 
           UserAgent: ${event-context:UserAgent} ${newline} 
           Host: ${event-context:Host} ${newline} "
     to="bheem.yadav@irissoftware.com"
     from="noreply@irissoftware.com"
     Encoding="UTF-8"
     smtpServer="mailiris.irissoftware.com">
    </target>

  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="database"/>
    <logger name="*" minlevel="Info" writeTo="Mail"/>
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
